:root {
  /* Fonts */

  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Text colors */

  --main-txt-cl: #212121;
  --secondary-txt-cl: #757575;
  --link-txt-cl: #2196f3;
  --white-txt-cl: #ffffff;

  /* Backgroung colors */

  --main-bg-cl: #ffffff;
  --hero-bg-cl: #2f303a;
  --secondary-bg-cl: #f5f4fa;
}

/* Others */

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: var(--main-font);
  background-color: var(--main-bg-cl);
  color: var(--main-txt-cl);
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  /* color: currentColor; */
}

nav {
  display: flex;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header {
  border: 1px solid #ececec;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.header-container {
  display: flex;
}

.logo {
  margin-right: 93px;
  color: #000000;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}
.accent {
  color: var(--link-txt-cl);
}
.nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-list .header-link.current {
  color: var(--link-txt-cl);
}
.header-icon {
  display: flex;
  width: 270px;
  height: 120px;
}

.header-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--link-txt-cl);
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2%;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--link-txt-cl);
  border-radius: 2px;
}

.header-link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.link-to {
  color: var(--secondary-txt-cl);
}

/* hero  */

.section-hero {
  color: var(--white-txt-cl);
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
  background-color: #c4c4c4;
  background-image: url(../images/hero/Шапка.jpeg);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/Шапка.jpeg);
}

.hero-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
}
.hero-btn {
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  color: var(--white-txt-cl);
  background-color: var(--link-txt-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  width: 216px;
  height: 50px;
  padding-left: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* features  */

.features-list {
  display: flex;
  gap: 30px;
}

.features-item {
  flex-basis: calc((100% - 30px * 3) / 4);
}

.features-icon {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-cl);
  margin-bottom: 30px;
}

.features-subtitles {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  color: var(--secondary-txt-cl);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

/* work  */

.section-work {
  padding-bottom: 94px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  position: relative;
}

.work-name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-name-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-txt-cl);
  margin: 0;
}

/* team  */

.section-team {
  background-color: var(--secondary-bg-cl);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--main-bg-cl);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.team-worker {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-profession {
  color: var(--secondary-txt-cl);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-cl);
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--link-txt-cl);
  fill: var(--main-bg-cl);
}

.socials-icon:hover,
.socials-icon:focus {
  fill: var(--main-bg-cl);
}

/* customers  */

.section-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  gap: 30px;
}

.customers-item {
  width: 170px;
  height: 92px;
}

.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--link-txt-cl);
  border: 1px solid #2196f3;
}

/*Footer*/

.footer {
  background-color: var(--hero-bg-cl);
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--white-txt-cl);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.item-str {
  margin-bottom: 9px;
}

.item-ml {
  margin-bottom: 9px;
}

.footer-icon-main {
  display: flex;
  align-items: baseline;
}

.footer-adress-div {
  margin-right: 70px;
}

.footer-adress {
  font-style: normal;
  margin-top: 20px;
}
.footer-link {
  color: var(--white-txt-cl);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--link-txt-cl);
}
.link-cl {
  color: rgba(255, 255, 255, 0.6);
}

.footer-icon-div {
  margin-right: 93px;
}

.footer-icon-name {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-txt-cl);
  margin-bottom: 20px;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.footer-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-txt-cl);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: var(--link-txt-cl);
}

.footer-icon {
  fill: var(--main-bg-cl);
}

.footer-icon-item {
  width: 44px;
  height: 44px;
}

.form-footer-name {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-txt-cl);
  margin-bottom: 20px;
}

.sign-div {
  display: flex;
}

.mail {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: inherit;
  color: var(--white-txt-cl);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  /* box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:focus {
  border-color: var(--link-txt-cl);
}

.mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
}

.sign-btn {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border: none;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--link-txt-cl);
  padding: 10px 28px;
  color: var(--white-txt-cl);
  cursor: pointer;
}

.sign-btn:focus,
.sign-btn:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.send {
  margin-left: 10px;
  fill: var(--main-bg-cl);
}

/*Portfolio*/

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filters-btn {
  font-family: inherit;
  color: inherit;
  background-color: var(--secondary-bg-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  color: var(--white-txt-cl);
  background-color: var(--link-txt-cl);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:focus,
.project-link:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  transform: translateY(100%);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:focus .overlay,
.project-link:hover .overlay {
  transform: translateY(0);
}

.overlay-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--white-txt-cl);
  padding: 63px 24px;
}

.cards-name {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-txt-cl);
}
.project-filters {
  color: var(--secondary-txt-cl);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  top: 50%;
  left: 50%;
  padding: 40px;
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: var(--main-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-bg-cl);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:focus,
.modal-btn:hover {
  fill: var(--link-txt-cl);
}

/* FORM  */

.form-name {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 12px;
}

/* .form {
  margin-bottom: 20px;
} */

.register-form-group {
  margin-bottom: 20px;
}

.register-form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-modal-name {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-txt-cl);
  margin-bottom: 4px;
}

.register-form-input {
  width: 100%;
  height: 40px;
  padding: 11px 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-input:focus {
  border-color: var(--link-txt-cl);
}

.register-form-icon {
  position: absolute;
  top: 67%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-input:focus ~ .register-form-icon {
  fill: var(--link-txt-cl);
}

.register-form-msg {
  padding: 12px 16px;
  resize: none;
  height: 120px;
  width: 100%;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-msg:focus {
  border-color: var(--link-txt-cl);
}

.register-form-msg::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.register-form-terms {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 30px;
  gap: 7px;
}

.icon-check {
  opacity: 0;
  fill: var(--link-txt-cl);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked + .register-form-icons .icon-check {
  opacity: 1;
}

.icon-uncheck {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked + .register-form-icons .icon-uncheck {
  opacity: 0;
}

.chbox {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.chbox-link {
  color: var(--link-txt-cl);
  /* text-decoration: dashed; */
}

.submit-btn {
  width: 200px;
  height: 50px;
  background-color: var(--link-txt-cl);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--white-txt-cl);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 0;
  padding: 0;
  margin: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #188ce8;
}
